{{define "tasks"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <div class="container">
        <h2>Task List</h2>
        <table>
            <!-- <thead>
                <tr>
                    <th>Id:{{.Id}}</th>
                    <th>Task{{.Task}}</th>
                    <th>Date{{.Date}}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="taskList"></tbody> -->
            <h1>Tasks:</h1>
            <ul>
                {{range .tasks}}
                <li>{{.}}</li>
                {{end}}
            </ul>
        </table>
        <button onclick="deleteTask()">Delete</button>
        <button onclick="loadTasks()">Edit</button>
        <button onclick="goBack()">Back</button>
    </div>

    <script>

  function displayData(data) {
    let container = document.getElementById("taskList");
    // container.innerHTML = ""; // Clear previous data
    data.forEach(item => {
        let div = document.createElement("div");
        div.innerText = item.name;  // Customize based on DB columns
        container.appendChild(div);
    });
}

   
function goBack() {
    window.location.href = "http://localhost:4002/IndexTodo";
}
function deleteTask(id) {
    fetch("http://localhost:4002/IndexTodo", {
        method: "DELETE",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ id: id })
    })
    .then(response => response.json())
    .then(data => {
        console.log("Task deleted:", data);
        loadTasks();
    })
    .catch(error => console.error("Error deleting task:", error));
}

function editTask(task, date) {
    fetch("http://localhost:4002/IndexTodo", {
        method: "GET",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ id: id })
    })
    .then(response => response.json())
    .then(data => {
        console.log("Task edited:", data);
        loadTasks();
    })
    .catch(error => console.error("Error edited task:", error));
}

window.onload = loadTasks;
    </script>
</body>
</html>
{{end}}